.fa-arrow-right-rotate::before,
.fa-arrow-rotate-forward::before,
.fa-arrow-rotate-right::before,
.fa-redo::before,
.fa-magnifying-glass::before,
.fa-search::before {
  content: "\f01e";
}

#app,
#app #search-bar-aligner,
#app #search-bar-aligner #search-bar-wrapper,
#app #search-bar-aligner #search-bar-wrapper #search-bar,
#app
  #search-bar-aligner
  #search-bar-wrapper
  #search-bar
  #search-bar-reset-button,
#app #search-bar-aligner #search-bar-wrapper #search-bar #search-bar-logo,
#app #search-bar-aligner #search-bar-wrapper #search-bar #search-bar-input,
#app #search-bar-aligner #search-bar-wrapper #search-bar #search-bar-clicker {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#app
  #search-bar-aligner
  #search-bar-wrapper
  #search-bar
  #search-bar-reset-button,
#app #search-bar-aligner #search-bar-wrapper #search-bar #search-bar-clicker {
  border-radius: 3px;
  cursor: pointer;
  flex-shrink: 0;
  height: 30px;
  outline: none;
  padding: 5px;
  position: relative;
  z-index: 3;
}

#app
  #search-bar-aligner
  #search-bar-wrapper
  #search-bar
  #search-bar-reset-button,
#app
  #search-bar-aligner
  #search-bar-wrapper
  #search-bar
  #search-bar-reset-button
  i,
#app #search-bar-aligner #search-bar-wrapper #search-bar #search-bar-logo {
  color: white;
}

#app #search-bar-aligner #search-bar-wrapper #search-bar #search-bar-logo {
  flex-shrink: 0;
  font-size: 0.9em;
  height: 20px;
  line-height: 20px;
  padding: 5px;
  padding-right: 10px;
  position: relative;
  text-align: center;
  width: 14px;
}

#app #search-bar-aligner #search-bar-wrapper #search-bar #search-bar-input,
#app
  #search-bar-aligner
  #search-bar-wrapper
  #search-bar
  #search-bar-input:focus,
#app
  #search-bar-aligner
  #search-bar-wrapper
  #search-bar
  #search-bar-input.searching {
  width: 100%;
}

.fa-regular,
.fa-classic,
.fa-light,
.fa-solid,
.fa-thin,
.fal,
.fab,
.fad,
.fasl,
.fass,
.fat {
  font-family: "Font Awesome 6 Pro";
  font-weight: 400;
}

.fa,
.fa-brands,
.fa-duotone,
.fa-sharp,
.fa-sharp-solid,
.far,
.fas {
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
}

#app
  #search-bar-aligner.focused
  #search-bar-wrapper
  #search-bar
  #search-bar-input,
#app
  #search-bar-aligner.querying
  #search-bar-wrapper
  #search-bar
  #search-bar-input {
  width: 100%;
}
