.footer {
  bottom: 0;
  // top: 87.8788vh;
  z-index: 10;
  position: fixed;
  background-color: #fdfdfd;
  box-shadow: 0px -1px 30px 0px rgb(58 55 55 / 8.6%);
  &__content {
    width: 100vw;
    height: 12.1212vh;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  &__buttons {
    display: flex;
    width: 9.2105vw;
    height: 9.2105vw;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    // background-color: #8d8585;
  }
}



.navigation{
  background-color: #fefefe;
}

#menuToggle {
  z-index: 1;
  display: flex;
  user-select: none;
  position: relative;
  flex-direction: column;
  -webkit-user-select: none;
  & ul {
    overflow: scroll;
  }
} 

#menuToggle input
{
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span
{
  width: 29px;
  height: 2px;
  display: flex;
  margin-bottom: 5px;
  position: relative;
  border-radius: 3px;
  background: #8d8585;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383F;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

.navigation__menu
{
  left: 0;
  top: -200px;
  width: 50vw;
  height: 100vh;
  padding: 50px;
  position: fixed;
  padding-top: 300px;
  transform-origin: 0% 0%; 
  margin: -50px 0 0 -50px;
  background-color: #F5F6FA;
  transform: translate(-100%, 0);
  box-shadow: 0 0 10px #85888C;
  -webkit-font-smoothing: antialiased;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

}

.navigation__menu .li
{
  transition-delay: 2s;
}

#menuToggle input:checked ~ .navigation__menu
{
  transform: none;
}
.menu-check:checked ~ .ul
{
  transform: none;
}

.navigation__menu-checkbox{
  height: auto;
  position: relative;
  box-sizing: border-box;
  &:active{
    background-color: #cacaca53;
  }
}
.navigation__menu-subcategory.li{
  width: auto;
  max-width: 100%;
  padding: 5px 0;
  position: relative;
  border-bottom: #cbcbcb79 solid 1px;
}
.navigation__menu-checkbox-subcategory {
  margin-left: 20vw;
}
.navigation__menu-category{
  padding: 5px 0;
  margin-top: 15px;
  margin-left: 10vw;
  border-bottom: #cbcbcb79 solid 1px;
  &:active{
    background-color: #cacaca53;
  }
}

.icon-svg-color path{
  line-height: 1; 
   fill: #8d8585;
}
.icon-svg-color {
  color:#8d8585;
}