* {
  margin: 0;
  padding: 0;
}
@import url("./modal.scss");
@import url("./header.scss");
@import url("./footer.scss");
@import url("./menu-item.scss");
@import url("./menu-page.scss");

.containerr {
  width: 100vw;
  min-height: 100vh;
  background-color: #fefefe;
}

