.cart-total {
}
.menu-page {
  width: 100vw;
  background-color: rgb(22, 250, 223);
  &__section {
    // width: 100vw;
    display: grid;
    grid-template-columns: 38% 38%;
    justify-content: space-evenly;
    grid-auto-rows: minmax(auto, auto);
  }
  &__title {
  }
}
.menu-section {
}
.menu-section-title {
}
